<div class="container">
  <%= link_to 'Back', tags_path , class: 'ui button grey' %>
  <% if @tag %>
    <h1><%= @tag.tag %></h1>
    <div class="ui three stackable cards">
      <% @posts.each_with_index do |post, i| %>
        <div class="card">
          <div class="content">
            <h3><a href="/<%= post.user.username%>"><%= post.user.username %></a></h3>
          </div>
          <div class="image loop" onclick="toggleModal(<%= i %>)">
            <%= image_tag post.image.service_url %>
          </div>
          <div class="content">
            <% post.tags.each do |tag| %>
              <%= link_to tag.tag, tag_path(tag.tag), class: 'ui primary button' %>
            <% end %>
          </div>
        </div>

        <div class="ui modal <%= "test#{i}" %>">
          <i class="close icon"></i>
          <div class="header">
            <%= link_to post.user.username, "/#{post.user.username}" %>
          </div>
          <span><%=post.title%></span>
          <div class="modal-inner-container">
            <div class="image content">
              <div class="ui massive image">
                <%= image_tag post.image.service_url %>
                <div class="content">
                  <% post.tags.each do |tag| %>
                    <%= link_to "# #{tag.tag}", tag_path(tag.tag), class: 'ui primary button' %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="description">
              <h3>Comments</h3>
            </div>
          </div>
          <!--          <div class="actions">-->
          <!--            <div class="ui positive right labeled icon button">-->
          <!--              Done-->
          <!--              <i class="checkmark icon"></i>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      <% end %>
    </div>
    <h2>Local businesses</h2>
    <div id="yelp-container">
      <div class="ui three stackable cards">
        <% @search['businesses'].each do |x| %>
          <div class="card">
            <div class="content">
              <a href="<%= x['url'] %>"><h3><%= x['name'] %></h3></a>
            </div>
            <div class="image">
              <%= image_tag x['image_url'] %>
            </div>
            <div class="content">
              <ul>Address:
                <% x['location']['display_address'].each do |address| %>
                  <li><%= address %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="error-page">
      <center><h1>Oops, sorry!</h1>
        <%= image_tag('404.jpg', class: "404") %>
        <h1>This page does not exist!</h1>
        <br>
        <a href="/"><button class="ui primary button">Home Page</button></a>
      </center>
    </div>
  <% end %>
</div>