<div class="container">

<%= link_to "/#{current_user.username}/new", :class=>"massive ui primary button", :id=>"newpost" do %>
  <i class="plus icon"></i> Add new post
<% end %>
  <% if @profile %>
    <div class="ui three stackable cards">
      <% @posts.each_with_index do |post, i| %>
        <div class="card">
          <div class="content">
            <h3 class="postheader">
              <%= post.title == '' ? 'untitled' : post.title %>
              <% if @profile == current_user %>
                <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }  do%>
                  <i class="trash alternate outline icon"></i>
                <%end%>
              <% end %>
            </h3>
          </div>
          <div class="image loop" onclick="toggleModal(<%= i %>)">
            <%= image_tag post.image.service_url %>
          </div>
          <div class="content">
            <% post.tags.each do |tag| %>
              <%= link_to tag.tag, tag_path(tag.tag), class: 'ui primary button' %>
            <% end %>
          </div>
        </div>

        <div class="ui modal <%= "test#{i}" %>">
          <i class="close icon"></i>
          <div class="header">
            <%= link_to post.user.username, "/#{post.user.username}" %>
          </div>
          <div class="modal-inner-container">
            <div class="image content">
              <h3><%=post.title%></h3>
              <div class="ui massive image">
                <%= image_tag post.image.service_url %>
                <div class="content">
                  <% post.tags.each do |tag| %>
                    <%= link_to "# #{tag.tag}", tag_path(tag.tag), class: 'ui primary button' %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="description">
                <%= commontator_thread(post) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="error-page">
      <center><h1>Oops, sorry!</h1>
        <%= image_tag('404.jpg', class: "404") %>
        <h1>This user page is not found!</h1>
        <br>
        <a href="/"><button class="ui primary button">Home Page</button></a>
      </center>
    </div>
  <% end %>
</div>


 
