<!DOCTYPE html>
<html>
  <head>
    <title>PIXAPI</title>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('Logo.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB --> <!-- For the carousel -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui sidebar vertical left inverted menu">
      <img class="ui medium circular image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg" style="bottom:-52px;">
      <a class="item" href="/">Home</a>
      <%if current_user %>
        <a class="item" href="/<%= current_user.username%>">Profile</a>
      <%end%>
      <a class="item" href="/page/faq">FAQ</a>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete , :class => "item"%> 
    </div>
    
    <div class="top-nav">
    <% if current_user %>
      <a id="toggle" class="item">
        <i class="big white sidebar icon"></i>
        <p class="menutext">Menu</p>
      </a>
      <% else %>
      <% end %>

      <%= link_to image_tag('Logo.png', width: '69', height: '69'), "/" %>
      <p class="logo">PIXAPI</p>
      <div class="ui large buttons">
      <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete , :class => "signout ui inverted button"%> 
     <% else %>
      
      <a href="/users/sign_in"><button class="ui inverted button">Sign in</button></a>
      <div class="or"></div>
      <a href="/users/sign_up"<button class="ui inverted button">Sign up</button></a>
      <% end %>
    </div>

    <div class="ui fluid category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="SEARCH">
        <i class="large search icon"></i>
      </div>
      <div class="results">
      </div>
    </div>
  </div>
   
    <div id="content" class="pusher">
      <!-- Site content !-->
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>

    <script>
      $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB --> <!-- For the carousel -->
  </body>
</html>
