<!DOCTYPE html>
<html>
  <head>
    <title>PIXAPI</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path( 'logoo.ico' ) %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div class="ui sidebar vertical left inverted menu">
      <img class="ui medium circular image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg" style="bottom:-52px;">
      <a class="item" href="/">Home</a>
      <a class="item" href="/<%= current_user.username%>">Profile</a>
      <a class="item" href="/page/gallery">Gallery</a>
      <a class="item" href="/page/faq">FAQ</a>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete , :class => "item"%> 
    </div>
    
    <div class="top-nav">
    <%if current_user %>
      <a id="toggle" class="item">
        <i class="big white sidebar icon"></i>
        <p class="menutext">Menu</p>
      </a>
      <% else%>
      <img src="<%= asset_path( 'mainlogo.png' ) %>" width='69' height='69' id='mainlogo'>
      <%end%>

      <p class="logo">PIXAPI</p>
      <div class="ui large buttons">
      <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete , :class => "signout ui inverted button"%> 
     <%else%>
      
      <a href="/users/sign_in"><button class="ui inverted button">Sign in</button></a>
      <div class="or"></div>
      <a href="/users/sign_up"<button class="ui inverted button">Sign up</button></a>
      <%end%>
    </div>
      
      <div class="ui fluid category search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="SEARCH">
          <i class="large search icon"></i>
        </div>
        <div class="results">
        </div>
      </div>
   </div>
   
    <div id="content" class="pusher">
      <!-- Site content !-->
<!--      temporary fix: margin top set to 10%-->
      <%= yield %>
    </div>

    <script>
      $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
