<!DOCTYPE html>
<html>
  <head>
    <title>PIXAPI</title>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('Logo.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="ui sidebar vertical left inverted menu">
        <h2><%= current_user.username %></h2>
        <div id="avatar-container">
          <img class="ui medium circular image" src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
          <a href="/users/edit">
        <div id="edit-avatar" style="display: none">
          <h3 id="edit">Edit</h3>
          <i class="big inverted white edit icon"></i>
        </div>
          </a>
        </div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/<%= current_user.username%>">Profile</a>
        <a class="item" href="/page/faq">FAQ</a>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete , :class => "item"%>
      </div>
    <% end %>

    <div class="top-nav">
    <% if current_user %>
      <a id="toggle" class="item">
        <i class="big white sidebar icon"></i>
        <p class="menutext">Menu</p>
      </a>
    <% end %>
      <%= link_to image_tag('Logo.png', class: 'logo', width: '72', height: '72'), "/" %>
      <p class="logo">PIXAPI</p>
      <div class="ui large buttons">
      <% unless current_user %>
        <a href="/users/sign_in"><button class="ui inverted button">Sign in</button></a>
        <div class="or"></div>
        <a href="/users/sign_up"><button class="ui inverted button">Sign up</button></a>
      <% end %>
    </div>

    <%= form_tag "/search", controller: 'page', action: 'search', class: 'ui fluid category search' do %>
        <div class="ui icon input">
          <%= select_tag(:select, options_for_select([['User', 'user'], ['Tag', 'tag']]), class: 'ui dropdown') %>
          <%= text_field_tag :search, '', placeholder: 'SEARCH', class: 'prompt' %>
          <%= button_tag "<i class='large search icon'></i>".html_safe %>
        </div>
    <% end %>
  </div>
   
    <div id="content" class="pusher">
      <!-- Site content !-->
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>

  <footer>
      <div id="github-container">
        <span>Authors:</span>
        <div id="githubs">
          <div>
            <a href="https://github.com/jevargasv">Jennifer Vargas</a></li>
            <a href="https://github.com/kevinlee6">Kevin Lee</a>
          </div>
          <div>
            <a href="https://github.com/mesuara">Mesuara Kaleziq</a>
            <a href="https://github.com/sharnajh">Sharna Hossain</a>
          </div>
        </div>
      </div>
      <div class="social-media-icons">
        <a href="https://www.facebook.com"><i class="big circular inverted teal facebook icon"></i></a>
        <a href="https://www.twitter.com"><i class="big circular inverted teal twitter icon"></i></a>
        <a href="https://www.instagram.com"><i class="big circular inverted teal instagram icon"></i></a>
      </div>
      <p id="contact">
        Contact:
        <br>
        90 John St.
        <br>
        New York, NY
      </p>
<!--    <p id="copyright">&copy; 2018 image-recognition.com &copy; 2018 powered by Google & AWS</p>-->
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
  </body>
</html>